body,
html {
    height: 100%;
    margin: auto;
    padding: 0;
    font-family: Verdana, sans-serif;

}

.background-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, #034f84, #011f4b);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    box-sizing: border-box;


}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.title h1 {
    color: #001f3f;
    margin: 0;

}

.title p {
    color: #333;
    font-size: 1.2rem;
}


@media (max-width: 700px) {
    .container {
        width: 400px;
        padding: 20px;

    }
}

/* Nav Links */

.main-header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #011f4b, #034f84);

}


.main-body {
    background: #011f4b;
}

.navbar .logo {
    width: 120px;

}


.nav-links {
    list-style: none;
    display: flex;
    transition: color 0.3s, background-color 0.3s, transform 0.2s;


}

.nav-links li {
    padding: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hero (Middle Section) */

.hero {
    background: linear-gradient(to bottom, #034f84, #011f4b);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    padding-bottom: 80px;

}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;

}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

/* Call To action button (yellow button on page) */

.cta-button,
.orderbutton {
    background-color: #ffcd02;

    color: #333;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
    ;

}


.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

    padding: 40px 20px;
    background-color: #011f4b;
}

.feature {
    flex-basis: calc(33.333% - 100px);

    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 5px;

    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.feature i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.feature h3 {
    margin-bottom: 5px;
    font-size: 1.4rem;
}


.cta-button:hover,
.orderbutton:hover {
    background-color: #a58c3a;
    box-shadow: 0 4px 12px rgba(9, 10, 10, 0.2);
    cursor: pointer;

}

/* Modal content when clicking button */

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1001;
    font-size: 1.2rem;

}

#optionsModal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: none;
    z-index: 1000;

}

.dashboard {
    background-color: #ffcd02;

    color: #333;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: none;

}

.dashboard:hover {
    background-color: #a58c3a;

    box-shadow: 0 4px 12px rgba(9, 10, 10, 0.2);
}



.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.5s ease;
    bottom: -5px;
    left: 0;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #bda144;
    transition: color 0.3s, background-color 0.3s, transform 0.2s;


}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }
}

@media (max-width: 600px) {

    .hero-content h1 {
        font-size: 2rem;
    }


}

.modal-content button {
    background-color: #034f84;

    color: white;
    border: none;
    padding: 20px 40px;

    margin: 10px;

    font-size: 1.2rem;

    border-radius: 8px;

    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;

}

.modal-content button:hover {
    background-color: #0056b3;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

#logoutButton {
    background: none;

    border: none;



    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;


    cursor: pointer;

    transition: color 0.3s, background-color 0.3s, transform 0.2s;
    display: inline-block;

    margin-top: -10px;
    margin-left: -5px;

    height: 100%;

    align-self: center;


}


#logoutButton:hover,
#logoutButton:focus {
    color: #a58c3a;

    background-color: transparent;


}


#logoutButton,
.nav-links:active {
    color: #fff;


}


#logoutButton::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.5s ease;
    bottom: -5px;
    left: 0;
}


#logoutButton:hover::after {
    width: 100%;
}

#ordersContainer {
    margin: 20px;
    background: rgb(130, 130, 130);
}



#userOrderHistoryContainer {
    margin: 20px;
    padding: 20px;
    background: linear(to bottom, #034f84, #011f4b);
    box-shadow: 0 4px 8px rgba(11, 60, 125, 0.1);
    border-radius: 8px;
    overflow: auto;
    max-height: 450px;
    margin-top: -10px;
}

#userOrderHistoryContainer::-webkit-scrollbar {
    width: 10px;
}

#userOrderHistoryContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

#userOrderHistoryContainer::-webkit-scrollbar-track {
    background: #515151;
    border-radius: 10px;
}


.order-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

.order-table th,
.order-table td {
    border-bottom: 1px solid #ffffff;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

.order-table th {
    background-color: #011f4b;
    color: white;
}

.order-table tr:hover {
    transition: 0.15s ease-in;
    background-color: #011f4b;
}

.order-table tbody td {
    vertical-align: top;
}

.order-table ul {
    list-style: none;
    padding: 0;
    margin: 2;
}

.history h1 {
    font-size: larger;
    font-family: Verdana;
    margin-top: -30px;
}

.history {
    background: linear-gradient(to bottom, #034f84 0%, #011f4b 70%);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    padding-bottom: 80px;
}